 # The Site Configuration

# Import the theme
theme: jekyll-theme-chirpy

# The language of the webpage › http://www.lingoes.net/en/translator/langcode.htm
# If it has the same name as one of the files in folder `_data/locales`, the layout language will also be changed,
# otherwise, the layout language will use the default value of 'en'.
lang: en

# Change to your timezone › https://zones.arilyn.cc
timezone:

# jekyll-seo-tag settings › https://github.com/jekyll/jekyll-seo-tag/blob/master/docs/usage.md
# ↓ --------------------------

title: Namal # the main title

tagline: My personal blog for ML # it will display as the subtitle

description: >- # used by seo meta and the atom feed
  Focused on writing machine learning blog posts

# Fill in the protocol & hostname for your site.
# E.g. 'https://username.github.io', note that it does not end with a '/'.
url: "https://namal-xx.github.io"

github:
  username: namal-xx # change to your GitHub username

twitter:
  username: twitter_username # change to your Twitter username

social:
  # Change to your full name.
  # It will be displayed as the default author of the posts and the copyright owner in the Footer
  name: your_full_name
  email: example@domain.com # change to your email address
  links:
    # The first element serves as the copyright owner's link
    - https://twitter.com/username # change to your Twitter homepage
    - https://github.com/username # change to your GitHub homepage
    # Uncomment below to add more social links
    # - https://www.facebook.com/username
    # - https://www.linkedin.com/in/username

# Site Verification Settings
webmaster_verifications:
  google: # fill in your Google verification code
  bing: # fill in your Bing verification code
  alexa: # fill in your Alexa verification code
  yandex: # fill in your Yandex verification code
  baidu: # fill in your Baidu verification code
  facebook: # fill in your Facebook verification code

# ↑ --------------------------
# The end of `jekyll-seo-tag` settings

# Web Analytics Settings
analytics:
  google:
    id: # fill in your Google Analytics ID
  goatcounter:
    id: # fill in your GoatCounter ID
  umami:
    id: # fill in your Umami ID
    domain: # fill in your Umami domain
  matomo:
    id: # fill in your Matomo ID
    domain: # fill in your Matomo domain
  cloudflare:
    id: # fill in your Cloudflare Web Analytics token
  fathom:
    id: # fill in your Fathom Site ID

# Page views settings
pageviews:
  provider: # now only supports 'goatcounter'

# Prefer color scheme setting.
#
# Note: Keep empty will follow the system prefer color by default,
# and there will be a toggle to switch the theme between dark and light
# on the bottom left of the sidebar.
#
# Available options:
#
#     light — Use the light color scheme
#     dark — Use the dark color scheme
#
theme_mode: # [light | dark]

# The CDN endpoint for media resources.
# Notice that once it is assigned, the CDN url
# will be added to all media resources (site avatar, posts' images, audio and video files) paths starting with '/'
#
# e.g. 'https://cdn.com'
cdn:

# the avatar on sidebar, support local or CORS resources
avatar: data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBwgHBgkIBwgKCgkLDRYPDQwMDRsUFRAWIB0iIiAdHx8kKDQsJCYxJx8fLT0tMTU3Ojo6Iys/RD84QzQ5OjcBCgoKDQwNGg8PGjclHyU3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3N//AABEIAJQA3gMBIgACEQEDEQH/xAAbAAABBQEBAAAAAAAAAAAAAAAAAQIDBAUGB//EAD0QAAIBAwIDBQUHAwQBBQEAAAECAwAEERIhBTFBEyJRYXEGMoGRoRRCscHR4fAjUvEHJDNiwhY0U4KiFf/EABoBAAIDAQEAAAAAAAAAAAAAAAABAgMEBQb/xAAnEQACAgEEAQMEAwAAAAAAAAAAAQIRAwQSITFBEyIyBSMzcUJRYf/aAAwDAQACEQMRAD8A8koooqZQOTc4Hzo3HPpSA4NSzvqVdgOu1IQIgm2TaQDl/d+9RsSTuN+tKrDTjfI5YqxOj3EQuEjPPD48aAKtJS+tKi6mxypjEBI5UBS3KnlQPGhmJwOVKxDQQDginFtu7jFNK7ZG+9Jg9RTAXOTk0EA9d62OC8NhuIXnugzLnCqDgetbtraW0A/oQonnjfI8/iKpllUXR0MH07JlipN0mcSG0nbGaU6myx+JrvZbKCdCsqIy45MB5/p9awOJ+z/Yq8lqWOkZMR/I0RzRb5J5/pmXGt0eTAxyx1qzb2F3csqwW7uzHSAB1xn8qrHntU8d7cxJpjnkUZz3Wxg8s1cjmO/BCylSVYYIOMGkoLEkknJPPNJQMKKKcoU8zvQIbRT9Ktsp38KRlK86AEz5UFiQAeQ5UCkoGL0opRz9dqSgBKKKKACiinxrrlVR1NADoFBJdzhV+tTI7SMRHqVfWi9cALCnTc4pLNXEuARuPGo+LEOfROGDaRKOoGM1VYMCQQQeoq5FE6XWSoYNnkfGrV9atJoZBpfABHLVSuhWZB57VagglyEOjD7YJqKWB0fS/vHpT0EkOJV3x49Kb56GW40toUMM4Vjk5ZWyRRPbQyP2okBUgDTneqMzclG/XNOtVPbqPwo5oeOFzR0Fo2hY4kHdBXAx54q/b4CDOM6f/Ff3rNt7iGPSmlpHXGUQZ5H/ADUoub+UtBb8OkZsAEnbG36YrK4tnpI6jHjStm8F2JXlk8hjr+9Qk8vOs4Se0doDJNw/XETkhRnHyNS2nGbK6Gic9hKNtMm29VuDRox6vFPi6/Zg8bsUtbxZUXVDKchfA9RWXcae2fQMLnYV1fH4dfC5D3ToKuD5Zx+dc3FHBIoCkBvA9a14pXE8/wDUMKxZ2o9PkqkY65oqV0jK6lYgdRioiMHarTFYlFFFAxQcHOx9afrJJLnJO+9MAJ5A0YI5jFAhTgv3V58gKULqBwOQyaQEhgVyCOVOAMZzsQRsaAGbdD9Kc5y2QMZprHJJo5jHKgYlFFFABTkZkYOpwRyNSLbyFdQUY86esaCPLEE+FJtCIWYsS7HcnnUtkT9oUA4Lbb0nZ5Ty6U6AdmS+nJXrS8CNKWOMMCDv5U62v5BOkZKsh6kZ3qgsrzj3sY6UDXE2QmPPnUaIl2ZleZYZVVMtnWRyHhWzwzg54pc/YYp44IhG7s7qWIAxyA9a5xLpiTryxXfeur9hPtUM1zf3OpI2h7OF5FPeJ5keIxSqkThG5JMmg4d7K9vHwuWC+uJjIFFzFOMEnofuj5fGuY//AJFzbcTkt0U+9pV9LEKvMnOByFdpZezNjxeBzwTioi4mXJmjnOA+djjG6nwO9OuL++sJ5rS+m4jBLbKJCjkqMYwdJU9/J61ZGKaqyyTcJWkQcG4BcW8NmI7C4Y3B7V5ezONG+ATy6DbyHjV7hV9HJedm9nea30rn7M+nOAOYFVuB+08VxPcJejitx2Sl5GtJSxhTONRXBzgkftWT7X29hI0F+1zNxBJMLHIrgB4yCQTkE56EdMUnhixx1El4PRRJBHY3NwUKtZsRcROpyF6MBjOMVy163BuLX9vM3C9MLNoeWTSpYHrp5mmf6d8Snv8Ajt5bcWl+0JdwiAd0DuhWwNvLPyratPY7gvC5ZZYQGuI2Kh2G43qmcVFmnHJzXJyPtDYx8KtLmKBtVs0ZaLfOjoV88GuHYKxLoMHnpr1DjNtHxPhN0kJBeHXHgdSBkn6fOvLwAJyG6bbVLF02V6qbltT8KhrFNA0ghvvCnqUZWwBnOaZIgHeHInapILWWVdarhBzc8h+tW+DITTWRjh1tnYZPTfwqBY9Kq5XOdgp3rftbYNw//cqNbDQkf3m8z4fz0pstpqVUEYLnfC7KPLl4etKyvfRhwx6wcY1DkM86ae7knf5Yq79huEvJBEj6FJ3A54qQWEjRukjBShJIHIUyW5FJZcqQQmCCMYqIRkkgr06cqeYyHcajgDPXcVOCgRO9rJ95j93ypdD/AEUSCCQeYpyAEnIzUzCJizaiSfH/ADQvZKx7Tf8AnlUh2ItnMw7qg+QNItvgkSHDDbSOdWlu3t8rIigg+6PCoBI0sjNIwyB7x61C5CTfkeWkAKsSoXbT1pgjUgueQ6VGELSHVkAbk1NBrk/4iFRdjmjokxkrHQAgODU0UUsydngjA3wM1cWIIupFJI5lwB8cU6C0NzIyo7k6S55KFUcyaW4jdlQKsVuYpIJC3Rgh5+tSWgSMEq4fVtozkj41ZuOIs8MdnABHbRlmOnYufFvGsRZGSQsh601yOjVaF4b5JkVSqurFHGdQznBr2WGXhPHOHrLFHHJgkf1t84/KvHpglxEjR3IEqgHDfe+Ndb7DST/YuzBzomOpCTsDvtj1pMswvwdfBwzh7yzQSLbElQUFoNMqMOqnHMeHWuf9tOKSQcMHDuI2v2/Tpltb9Nsx6hnO+zbbjccj0qje+y/FrLjb3/C7hnxJqVGbSNPh/B0rmvaDiPEZzLwq6VZmgunlEgyzgtk6c+He8KiuzRP40QcQsLRrRJ+G3CylmxIXcKRk5G3Pn/ir93aTyez0FrBC8k0bhmUHOlcMN/mK55ba77QwlJQ2MhSTUUbmCRWxurahvjkauUkZnB+T2/2U9nuC2cdlfQWF99uCKzf1iyhsEZI5dT861+M8Gs7uSeZWmtrucDDCQkagMDKjboM1w3s/x+6ubOWazuDBJe3KxrG7ZChEGceuPrVLif8AqJfJxBobeBYoFfTr04L45neqnz2aKa5iT8LE3CGurPiCssySl5hnnnnjxGG2+FcBJBHIGlWQiQknTjY16zewpxzh8PF4UMk8CFZosZMkZ5jzI5j4jwrz1uFwxXjREu8ErZh0tzH68qI+0pzW1Zz8Mf8AuFSVSy53G+/yrXuTojjlh0AtjTpXTjbnttnbGOdQ3PC3h4gYnLyRKcx95csOfLn5cqleFSmpQwcMdKu2dvD8asZnbsSPizQrGkut8ruwIzn1IOQQfoPCpbLi0UUrCKFRGNwBjGx6/hz/AGx5V06gwwwJ50lv2mSIwOXOkG1NGpxHiZQR/ZyEffIGCBt1+dVY7so6tqJVsA7j6nH6VAtk7oXVhz/m9VnUqxU8xTGkvBLPKshGgH3cZ/KpIbJmTW5wP7evx8KrIQDuK1LKRZI9EjFVz3AMAmhjfBVaLvDVsp2BxnwqCeMxyFT61cvbfROqRhm1jOkb4qtNDMoDSK2+cZoQJkq2r3MrAYDNuN6u29vw/wB27Z48DZlGRn9KfcWyw4w2vG4OinRxxAASopmZsjv4GPQ1Aj+h83ComZCs5deeyn608CK1XEMSvnkcZOfIUyS4VYiBHjB7w6AelQw3MbJKpXQ+M51e96UqDlliWMyhXTuucaix5VQkvMThIzhQ/ex9d6bbTrLLJG0hUE9wE/Kq5Bd2fs+Td7FOhpF27DR3H2ZicuMg4wKyGBViDzBrdjljcp242XGnyNUr+y0uzo2d+RXG1EXXA0yHSS0Ui7jG4Fdp7BpLIZpikgty2MjyArjEjdYFc50g7gdR1xXqfAfae04c78Ni4f2sUXfD9ppODywMHI5Y35GrI45T+JKOSON3Ivcb4q9nwWW6Kkdkojjfozk4X1A3JrzPh10trxdppCZNTEuTuSDneur/ANQPaIcSs4oYrc26M4OiTnt1/njXH2Ni816gOQF3ORnbr+NV5IbOJF8MnqO49G1eYnmEkfvq3Idf5tWHxi00XAaNTpk7w/Ougit3trtYZSAGyFY+XKtbi/DEkhtWmjCu3/XGSf59aojLazRKO5HCW7NYhDksQ4dU1YAYcjWjxC6XiHCI1uGC3ceDlvv+JB8f1pnEeF3EFzpdSNxirdrNFZJKsqgqUCEnorZGr4FV+dWWRcaRtf6f8XdUC9oMLswJrofaH2dgvIX4jw3AiIzNGpxoP9w8vwrkbyzgmt04hwiNIryE5lgQYWbHMY8dwR5Gu19huIRX0Kkd6ORcFSc5B5g1KLKpq0cPxPhFw8MZt5j2sTERmQY2G+Nue/WuYMF1A8gwBLjDDqN69N9orCbgd7Fbzlns2Dm3mIydyO7vzI5edcfxuKaC6Z4+zZSoyn9x8QPH0rVPFUFNdHPjkW7Y+zlp1k7VjICGPQ1p8P7BLcozaCw1s/j0x9foapXd00koLxKjAYOBgmooYvtEwQMF6knkKp7LmrXJucKsbWb7QLqbQ2crGrDvbH6b86qX3ClgUyKJFUHdZMZ9f81DLE9qoeN3w22fHpU0F/Lkvc5lJ55xuPDHX9utIik+0UZYERu4xcHkas8PkSO41TLlQNh5+fhUBmhJYNFjfbnyqDUQe6TimSq+zQ4hcAzZQ99t26DfkKqzXZcABcY653+dECNMGc6cJjcnFNmjGdWNGfu75oBJdGxaFFfvaZC+z97JB6elPnshJEFikVipxqc8h4bZrMsNP9Ne00sWzqYnSpwdzWg2beGRc6dwdl2bHWk0VtUx8Ujdj2cmjtYsh9849egrIubOVS0qL/TO+1dJZq3FY3xCsk0AGThR3ceON6zMukkk8GvshlGTG+B4+lR3Eoprkxoo2L93Ix18KuymXR2gJCsd1xtWjLFDPbExk6yAwwKq2ySP3S7CTONONsUbrJWMi0zWrBmJZd9qYbqRcRhw4P0ps8L207nUAdiCOtJqt5cMR/U8ByooKLlrF9sdYi6IANiTsOp/M/CtnhSGKJ7gZiUgKuDvoU4APeGNgKx+ERHtFB5TYG/PBkVTj4Fh8a6zhbFIxGkiMJVLmLfAPUt4/DFdPTY6VmLNPwYftOER7IK2QULENuem5+dW45c3SQwDSCV1H1x+G9VfbEq88UqHuqzR+WxHL51BwztproaDhmPebwH8x+FYdavuHR0L+2dZxuGK4MbhgpRSoOep51lXvEprCxBt3RjHIoIkXIyPw3I+VXeKJJbLGjLk6e6vgBXM8XuLb7N2cYnMmSe8AFPLfPPpnlWbFC+TTlnXBe4l7bm8Ch+FwowYZcSE9egx+dc9PeSm8l+1EFJMo3ZjbHQr+IqqFzuadoLgajiNNtR6eXn6Vo2JdGb1JPhmxw69kgnhBYFZGRQynu5yQCPhjzrq/ZO4ThXHVt8lYbn+oinmrZ7w+e/xrhJwI4Yo4lZXRjJjqDtt8MA+pPhWveXbTcNivLZgs8Rx3VBwN8422wRmp48ammQnkcJKz1/2y4rZmxj4dLoJOJJZXI0xLjb/AOx6V51xi0eSCOQZbD5GOowRgfv4VhcL4pc3E+LiWSXtDh9W+oE7+vxrprftuxeGKZSrNsJSylcZJ3AwMY3O+w38K3YYxWPb2mc/UXKe7po894hJFLdyPBH2cZOy5J9Tv51W+ldJ7S8IFvIsqR4U5EqgbxtknV5g78vCsWW3w+oupDjUDnG2awZIvHLazdjnGcFJFqK4W5/5BuiY5YA5AfhVSW4YXBIOVU4A5jFRrpCt72c4ODzqMjc45VCiSRdljS4AdCNRHIbfpVPJG3gaVHKkYJxnO1OUrqJfc52zTDodbMEkBKhh4GlupC8gLKBgYp5h7NVLj3uQHOplTT3tbZI8AaQrK8QBtyWfA1fXFWraRgupG7ijGk8sD+Gs3JxjJx4VftbpI0ROzEhOxXFDCSLvC+OXtnMTajUj/dOwBxzq3wyC94pfO13GY1kJd30ADzxTrHRH3RColGGDaeXPmQRy+NVrqWUS6u0YbZ27vw25VCk+iLm2q8G09vYwpp+0bDG3Z9PI1ntc8NinY2MT9pjBkdiV+WdjWJNfXUauCVzJtq04I9KSyv8Aspw8q6z5nrvufnTURbTWv1UuryRRDO76Op+uP81myWsasrwMNDbEA5K7+YrRHF4p1WARozZx3uR/m/XpyqOOSK6vYYGRUd20MEGOYqUI+5Ii20i/w6JZ7yOMBVVIgefLB1fkK1rKyjtp49lZnV9ZbYYwPpWZ7NOxnHajv9m4Pe540gfnW5EYnubNmmUDfPlt5+grsQ6sw5OODD9vIzELNPvapGYY/uI/SrnsvZrIJpcsBo3K7fdz+VO9toxxFEniZFCtg5by+uWNa3sdEI4ZCyhikWSuOZBGM1xtfJOfB2dBBxx8h7U6JOHWU+ytIeyJ8HDd4VwLKuP6uGQj3hzH88K7X2kuF/8ATUEmrdrpjGfEYFcTM2snGMjnUtOvYLUP3kJjjztMij/sGz+FMMojZdGJHT3SR3R6DrTjv7y4qFtmGKscSlSEeeWTKs+zc8bZ9cc6msrpoY5YgxAOGwPEEZ+gqs2Onw8qYp3b0NOEtrtBNblTNCOU28rdmdJSQkEHp0yPCtua7mbsuIWTMHk3Mee65GAVPy2PMbVzjSKZA2SG0/OtXgckZL2kjlYpt0cfckHI/HlWuDV7TJNOtx1Fu0fELdWcDsZUBCEHAGxHn/iuY47afYb8xlXng06l1SZYDfbV655/vXScPkeThzM3dkjXvYO2QcHbPrWX7VRtLGtzGNEkIOcE5A6/j9POp6jH6mK65RRhnszVfDOexbKjAEkEHHj/ADb6VWiiDSd/ZdzzoVw7EHOW54HOnYaMkrkDluAc+Vcro6XQssCYwudQ3OOWNv1quO4/pUqzDSymNVLc2TKn5cvpTTHq/wCNtRJ93GDTRNIlkn1x+eB6cqh7ZiAD0pnLnzG2KOdOgpBVrh8kaSHtDscD+GqtTwSIAEKgZ5t40MTLl5exju2w7vPJGB8v5yqCK4ZplkuHOFTAzVaZtTnHu9KlGGg6DApCrgdfSpJKCu5GQT41VPOlyNOMDnzpKZJKhyADDdAat20umc3A3MWl9uuGFVFbYg8scqs8OAeV4v8A5VKZ88HH1AqeP5IryfFs6SAi04vMQx0aNSaf7WOqrwvSWjVRgNttu3ht4daw7eftoIWYd+KPsyfFR7tX+HxsZFlkY+Ea8i5xv8PGupDo5s+y5xWJXms00KXa5IOB10agPTIAre4XcJY2c1wwYrJN2Y0jdh7ufoa5q3mWW5VyymNLpmU+YTn9D8q66RFh4cjKO/GrdmOgJPvnz54Pma4mtr1eDuaO/S5OS9q7kdnacNj/AOO0iAJzzfJya5VWZGyfQitPjU5NzbEg5eMtJ66iv/iPnWfOu+ocjvWjHGoqjPklcmKXyvIVDKAcHcGgHzNO1VJuyHRAQR0ojTVnzz9BTzSRNpeTPRCR60l2SfQyVWicAncdRVm2uUyC6aXB99OvwqXikK9jDKo5qKzlqdvHPgrSWSHJ1djfDvcmDYI9evzrQuwJtUQOY5F6/wBp2rkLWVkbKMCOqk4Nap4qLeFHJ1tgaRnzrfDNFxtnPyYJKXBgmMpp0nJNTCVtIyc9AMdKkABXcLjrk8jiq7kqBzB5+lcbs6nY7TGyeD9MVDpAGWI9BvSHJ3JJz49aVQW2FPol0BfVsw+I50mCfOlkQocNTKYxRzoPpigmigA2xS6juOQ6im0UALSUtHSgYCnRyNG4ZDgggg+BBzTRvSU06F2bNvdxaGc4BJyV5CmT8UJDLFntGAXXnGkeA/n75NPjfs21AAkcsjIq96mbjSKI6eKlZ0XD9EFjA8w/28T6mwN2yfz5elao4s0XGLwFy8dw++Tsqhdh8MisxVaT2YOpiXaUMxPrmqLSBLGNWAYyMxLeA2/SqMuFuS/1GjDnSi68Fz2ltxDcwqMhliCuCc4dSQ36/Gssd6PB6Va4tdNcXGuRs6xkf9dzj6bfAVUjI5VZjuqZXk5doi8jS43ocb5pAdxTIjWzq5VG2xl8l/MVK/vVHzSZvRf58qiySNORe14ODn3F2rGrcsBr4YynxI+dYfrVmdfFlOmfMo/0xcmjJpKWqDSPEpC4p74MQPWocYqaIBlPewRUWJjETUrMBsooUsnp5U4sYzqU4PlSK6gbqD/PKgB8z6zgjeoMb4qVVjdsDUh8MZprrjctkctQoQIjooopkhRQaSigQUUUUDFGxopKKBC0lFFAzsuHKD7PLnxH4msK47rSRD3I2JUeG9FFdGa4RzcT90ircnvxjoEx/wDpqFJyKKKyP5M2fxHSUzkAaKKGCEPOmj/20h8WFFFA/Bp8MYiyC9MmsmcYnkA5Bz+NFFWZvxxKMH5ZjBzoOx2oorKaxKUEjlRRQMVRqzknYbUAbGiigQho1kCiigD/2Q==

# The URL of the site-wide social preview image used in SEO `og:image` meta tag.
# It can be overridden by a customized `page.image` in front matter.
social_preview_image: # string, local or CORS resources

# boolean type, the global switch for TOC in posts.
toc: true

comments:
  # Global switch for the post-comment system. Keeping it empty means disabled.
  provider: # [disqus | utterances | giscus]
  # The provider options are as follows:
  disqus:
    shortname: # fill with the Disqus shortname. › https://help.disqus.com/en/articles/1717111-what-s-a-shortname
  # utterances settings › https://utteranc.es/
  utterances:
    repo: # <gh-username>/<repo>
    issue_term: # < url | pathname | title | ...>
  # Giscus options › https://giscus.app
  giscus:
    repo: # <gh-username>/<repo>
    repo_id:
    category:
    category_id:
    mapping: # optional, default to 'pathname'
    strict: # optional, default to '0'
    input_position: # optional, default to 'bottom'
    lang: # optional, default to the value of `site.lang`
    reactions_enabled: # optional, default to the value of `1`

# Self-hosted static assets, optional › https://github.com/cotes2020/chirpy-static-assets
assets:
  self_host:
    enabled: # boolean, keep empty means false
    # specify the Jekyll environment, empty means both
    # only works if `assets.self_host.enabled` is 'true'
    env: # [development | production]

pwa:
  enabled: true # The option for PWA feature (installable)
  cache:
    enabled: true # The option for PWA offline cache
    # Paths defined here will be excluded from the PWA cache.
    # Usually its value is the `baseurl` of another website that
    # shares the same domain name as the current website.
    deny_paths:
      # - "/example"  # URLs match `<SITE_URL>/example/*` will not be cached by the PWA

paginate: 10

# The base URL of your site
baseurl: ""

# ------------ The following options are not recommended to be modified ------------------

kramdown:
  footnote_backlink: "&#8617;&#xfe0e;"
  syntax_highlighter: rouge
  syntax_highlighter_opts: # Rouge Options › https://github.com/jneen/rouge#full-options
    css_class: highlight
    # default_lang: console
    span:
      line_numbers: false
    block:
      line_numbers: true
      start_line: 1

collections:
  tabs:
    output: true
    sort_by: order

defaults:
  - scope:
      path: "" # An empty string here means all files in the project
      type: posts
    values:
      layout: post
      comments: true # Enable comments in posts.
      toc: true # Display TOC column in posts.
      # DO NOT modify the following parameter unless you are confident enough
      # to update the code of all other post links in this project.
      permalink: /posts/:title/
  - scope:
      path: _drafts
    values:
      comments: false
  - scope:
      path: ""
      type: tabs # see `site.collections`
    values:
      layout: page
      permalink: /:title/

sass:
  style: compressed

compress_html:
  clippings: all
  comments: all
  endings: all
  profile: false
  blanklines: false
  ignore:
    envs: [development]

exclude:
  - "*.gem"
  - "*.gemspec"
  - docs
  - tools
  - README.md
  - LICENSE
  - purgecss.js
  - "*.config.js"
  - "package*.json"

jekyll-archives:
  enabled: [categories, tags]
  layouts:
    category: category
    tag: tag
  permalinks:
    tag: /tags/:name/
    category: /categories/:name/
