---
---

/* ===== Custom Overrides ===== */

:root {
  --site-title-color: #ffffff;
  --site-subtitle-color: #ffffff;
  --bs-heading-color: #ffffff;
}

/* Optional direct override */
.site-title,
.post-title,
.article-title {
  font-weight: 900;
  font-size: 2.5em !important;
  color: #ffffff !important;
}
